.number-container {
  display: flex;
  flex-wrap: wrap;
}
.number {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
.even {
  background-color: green;
}
.odd {
  background-color: yellow;
}
.film-list {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  list-style: none;
}
img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
